<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="server=localhost;uid=accelerateUc6s3;pwd=GiQn_:n!Lau#;database=accelerateskillcrush" name="accelerateskillcrush" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
